<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="pluginConfigurationSection" type="Intertech.Configuration.PluginConfigurationSection, Intertech.Configuration" />
  </configSections>
  <pluginConfigurationSection>
    <programTypeTemplates enabled="true">
      <programTypeTemplate enabled="true" programTypePathStartsWith="$/TFSPlay/BirmingHam/ConversionPrograms/NetCobol">
        <buildTemplate templateName="ProgramOneBuildTemplate">
          <variables>
            <variable name="ProgramName" variableType="Intertech.Tfs.Common.Models.ChangeSetItemInfo" variableProp="ProgramName" />
            <variable name="BranchName" variableType="Intertech.Tfs.Common.Models.ChangeSetItemInfo" variableProp="BranchName" />
          </variables>
        </buildTemplate>
        <releaseTemplate templateName="**Dont Delete ReleasTemplate**">
          <environments>
            <environment name="Test">
              <variables>
                <variable name="var1" variableValue="NetCobol" />
              </variables>
            </environment>
            <environment name="Prod">
              <variables>
                <variable name="var1" variableValue="NetCobol" />
              </variables>
            </environment>
          </environments>
          <variables>
            <variable name="AppName" variableType="Intertech.Tfs.Common.Models.ChangeSetItemInfo" variableProp="ProgramName" />
          </variables>
        </releaseTemplate>
      </programTypeTemplate>
    <programTypeTemplate enabled="true" programTypePathStartsWith="$/TFSPlay/BirmingHam/PringPres/Coupon">
        <buildTemplate templateName="ProgramOneBuildTemplate">
          <variables>
            <variable name="ProgramName" variableType="Intertech.Tfs.Common.Models.ChangeSetItemInfo" variableProp="ProgramName" />
            <variable name="BranchName" variableType="Intertech.Tfs.Common.Models.ChangeSetItemInfo" variableProp="BranchName" />
          </variables>
        </buildTemplate>
        <releaseTemplate templateName="**Dont Delete ReleasTemplate**">
          <environments>
            <environment name="Test">
              <variables>
                <variable name="var1" variableValue="Coupon" />
              </variables>
            </environment>
            <environment name="Prod">
              <variables>
                <variable name="var1" variableValue="Coupon" />
              </variables>
            </environment>
          </environments>
          <variables>
            <variable name="AppName" variableType="Intertech.Tfs.Common.Models.ChangeSetItemInfo" variableProp="ProgramName" />
          </variables>
        </releaseTemplate>
      </programTypeTemplate>
    <programTypeTemplate enabled="true" programTypePathStartsWith="$/TFSPlay/BirmingHam/PringPres/Draft">
        <buildTemplate templateName="ProgramOneBuildTemplate">
          <variables>
            <variable name="ProgramName" variableType="Intertech.Tfs.Common.Models.ChangeSetItemInfo" variableProp="ProgramName" />
            <variable name="BranchName" variableType="Intertech.Tfs.Common.Models.ChangeSetItemInfo" variableProp="BranchName" />
          </variables>
        </buildTemplate>
        <releaseTemplate templateName="**Dont Delete ReleasTemplate**">
          <environments>
            <environment name="Test">
              <variables>
                <variable name="var1" variableValue="Draft" />
              </variables>
            </environment>
            <environment name="Prod">
              <variables>
                <variable name="var1" variableValue="Draft" />
              </variables>
            </environment>
          </environments>
          <variables>
            <variable name="AppName" variableType="Intertech.Tfs.Common.Models.ChangeSetItemInfo" variableProp="ProgramName" />
          </variables>
        </releaseTemplate>
      </programTypeTemplate>
    </programTypeTemplates>
    
    <filterByTeamProjects enabled="true">
      <filterByTeamProject teamProjectName="TFSPlay" enabled="true" />
    </filterByTeamProjects>
    
  </pluginConfigurationSection>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>